@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  text-align: center;
  padding-top: 50px;
  font-family: "Open Sans", sans-serif;
}

.logo {
  width: 180px;
  display: flex;
}

.navbar {
  background-color: white;
  width: 100%;
  z-index: 1000;
}

.navbar-nav {
  display: flex;
  gap: 10px;
}

.nav-link {
  font-size: 18px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

footer {
  margin: 40px 10px;
  padding: 10px;
  border-top: 1px solid black;
  text-align: center;
}

.footerTexto {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.imagenesFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBtnIg {
  width: 30px;
  margin-right: 30px;
}

.imgBtnFb {
  width: 50px;
  margin-right: 30px;
}

.footer a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .navbar-nav {
    gap: 15px;
  }
  .nav-link {
    font-size: 20px;
    padding: 12px 18px;
    font-weight: bold;
    color: white;
  }
}
@media screen and (min-width: 960px) {
  .navbar-nav {
    gap: 20px;
  }
  .nav-link {
    font-size: 22px;
    padding: 15px 20px;
  }
}
h1 {
  font-weight: bold;
  color: #513A45;
  margin: 50px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #58424d;
}

#carouselExampleIndicators {
  max-width: 800px;
  margin: 0 auto;
}

#carouselExampleIndicators img {
  max-width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

#carouselExampleIndicators,
iframe {
  transform: scale(0.9);
}

.card {
  margin: 20px;
}

.card:hover {
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.imagen-principal {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.texto {
  font-size: 25px;
  padding: 10px;
  margin: 50px;
}

.bold {
  font-weight: bold;
}

.btn {
  color: rgb(253, 253, 253);
  border: none;
  border-radius: 15px;
  padding: 10px;
  background: radial-gradient(#ae9c8f, #7a695d);
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background: radial-gradient(#ae9c8f, #7a695d);
  color: black;
}

.equipo {
  margin: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.contacto {
  margin: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #45a049;
}

.form-group {
  margin: 10px;
}

.form-container,
.map-container {
  margin-bottom: 20px;
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
