#carouselExampleIndicators {
    max-width: 800px;
    margin: 0 auto;

}

#carouselExampleIndicators img {
    max-width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

#carouselExampleIndicators,
iframe {
    transform: scale(0.9);
}


.card {
    margin: 20px;
}

.card:hover {
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.imagen-principal {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}