.logo {
    width: 180px;
    display: flex;
}

.navbar {
    background-color: $color-principal;
    width: 100%;
    z-index: 1000;

}

.navbar-nav {
    display: flex;
    gap: 10px;
}

.nav-link {
    font-size: 18px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: $color-principal;
    font-weight: bold;
}